#featureDetailWindow {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;

  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

#featureDetailView {
  height: 92vh;
}

#featureDetailsMenu {
  background-color: #1a3076b8;
  padding-top: 0.7vh;
  height: 6vh;
}

#featureDetailsContainer {
  background-color: rgb(169, 169, 169);
  min-height: 78vh;
}

#featureDetailViewBorder {
  border: 2px solid #4299e199;
}

.featureMenuButton {
  /* height: 3vh; */
  border: 4px solid rgb(52, 111, 174);
}
/* 
#featureDetailsContainer > * > canvas {
 
  min-height: 78vh;
} */

/* canvas {
  max-width: 1500px;
  max-height: 750px;
} */

#chartFlex {
  height: 86vh;
}
