#featureDetailWindow {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;

  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 4vh;
}

#featureDetailView {
  height: 84vh;
  /* margin: 10px 10px 10px 10px; */
  /* padding-top: 7vh;
  padding-bottom: 7vh;
  padding-right: 2vw;
  padding-left: 2vw; */
}

#featureDetailsMenu {
  background-color: #1a3076b8;
  /* height: 55px; */
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

#featureDetailsContainer {
  background-color: rgb(169, 169, 169);
  min-height: 78vh;
}

#featureDetailViewBorder {
  /* height: -webkit-fill-available; */
  border: 2px solid #4299e199;
}

.featureMenuButton {
  /* height: 3vh; */
  border: 4px solid rgb(52, 111, 174);
}

#featureDetailsContainer > * > canvas {
  /* padding-top: 8vh; */
  min-height: 78vh;
}
