#FeatureStatsTable {
  background-color: #8d6868;
  /* padding-right: 5vw; */
}

#FeatureStatsTable > * > tr > * {
  padding: 0;
  border: 0.3px solid black
}

#TableContainer {
  padding: 0 auto;
  padding-top: 1.5vh;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  border-collapse: collapse;
}

td,
th {
  text-align: center !important;
}

/*

td:not(:last-child),
th:not(:last-child) {
   border-right: dashed 1px black; 
}

thead > tr > th {
  color: beige !important;
}

tbody {
  background-color: #292b2c;
}
*/
