#Menu {
  background-color: #101010;
  min-height: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  font-family: "Courier New", monospace;
}

#Menu > * {
  color: rgb(218, 218, 218);
}

#MenuPanelStack {
  height: 5vh;
  font-size: large;
}

#MenuPanelStack > p:hover {
  text-decoration: underline;
  text-decoration-color: gold;
  cursor: pointer;
  font-weight: bold;
}

#LogoutButton {
  background-color: brown;
  border-radius: 6px;
  padding: 2px 2px 2px 2px;
}

#LogoutButton:hover {
  background-color: rgb(78 78 78);
}
