@import "feature_stats.css";
@import "404_page.css";
@import "menu_panel.css";
@import "feature_page.css";
@import "chart_page.css";
@import "user_settings_page.css";
@import "error_view.css";
@import "basic_forms.css";
@import "features_new.css";
@import "feature_details_window.css";
@import "home_page.css";

#BackgroundBoard {
  min-height: 100vh;
  max-width: 100vw;
}

#Content {
  text-align: justify;
  padding-right: 5vw;
  padding-left: 5vw;
  font-size: small;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
